<h2>Messages</h2>

<div class="chat-sidebar">
  <div class="chat-sidebar-search">
    <div>
      <%= f.text_field , class:"form-control shadow rounded", placeholder: "Search" %>
    </div>
  </div>

</div>

<div class="chat-main">

</div>