.navbar{
    background: #E6E6E6;
    border-bottom: 1px solid #2E2E2E;
	height: 72px;
	position: fixed;
	top: 0;
	width: 100%;
    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto !important;
        max-width: 1200px;
        &-logo{
            display:flex;
            flex-direction: row;
            font-size: 22px;
            padding:24px 0px;
            &-text{
                color:#2E2E2E;
                font-weight: 900;
                font-size: 24px;
                margin:0px 0px 0px 6px;
                text-decoration: none;

            }
            i{
                margin:2px 0px 0px 0px;
            }
        }
        &-links{
            padding:26px 0px;
            ul{
                display: flex;
                flex-direction: row;
                .nav-link{
                    margin: 0px 4px;
                    font-weight: 400;
                    font-size: 18px;
                    text-decoration: none;
                    color: #2E2E2E;
                }
                .active{
                    font-weight: 600;
                }
            }

        }
    }
}
